In [1]:
#list inside list
a=[[1,2,3],
  [5,6,7],
  [3,5,1]]
print(a)

[[1, 2, 3], [5, 6, 7], [3, 5, 1]]

In [3]:
print(type(a))

<class 'list'>

In [4]:
a=[[1, 2, 3], [5, 6, 7], [3, 5, 1]]
print(a[0])

[1, 2, 3]

In [5]:
print(a[0][0]) #to print list ko vhitra ko ni bhitra ko element

1

In [6]:
print(a[0][1])

2

In [7]:
print(a[1][0])

5

In [8]:
print(a[2][1])

5

In [9]:
a=[["ram",34,"ktm"],
  ["smile",15,"btl"],
  ["shakti",24,"lalitpur"]]
a

[['ram', 34, 'ktm'], ['smile', 15, 'btl'], ['shakti', 24, 'lalitpur']]

In [23]:
a=[]
n=int(input("enter the value of n = "))
for i in range(n):
    name=input("enter the name = ")
    age=int(input("enter the age = "))
    add=input("enter the address = ")
    i=[name,age,add]
    a.append(i)
    
print(a)

enter the value of n = 5
enter the name = smile
enter the age = 5
enter the address = btl
enter the name = shakti
enter the age = 2
enter the address = lalit
enter the name = dri
enter the age = 5
enter the address = bhak
enter the name = asti
enter the age = 6
enter the address = buddha
enter the name = aska
enter the age = 6
enter the address = ssh
[['smile', 5, 'btl'], ['shakti', 2, 'lalit'], ['dri', 5, 'bhak'], ['asti', 6, 'buddha'], ['aska', 6, 'ssh']]

In [13]:
a=[['smile', 5, 'btl'], ['shakti', 6, 'lalitpur']]
a[0]

['smile', 5, 'btl']

In [14]:
a[1]

['shakti', 6, 'lalitpur']

In [15]:
a[1][2]

'lalitpur'

In [16]:
a[0][2]

'btl'

In [17]:
a=[['smile', 5, 'btl'], ['shakti', 6, 'lalitpur']]
a[0]=["smile",15,"ktm"]
a

[['smile', 15, 'ktm'], ['shakti', 6, 'lalitpur']]

In [19]:
a=[['smile', 5, 'btl'], ['shakti', 6, 'lalitpur']]
search=input("enter name = ")
for i in a: 
    if search in i: #if given search is in a or not
        print(i)

enter name = smile
['smile', 5, 'btl']

In [22]:
a=[['smile', 5, 'btl'], ['shakti', 6, 'lalitpur']]
l=len(a)
for i in range(l):
    search=input("enter name = ")
    if search in a:
        print(a)

enter name = smile
enter name = shakti

In [27]:
a=[['smile', 5, 'btl'], ['shakti', 2, 'lalit'], ['dri', 5, 'bhak'], ['asti', 6, 'buddha'], ['aska', 6, 'ssh']]
search=input("enter name = ")
c=0
for i in a:
    if search in i:
        c+=1
        print(i)
print(f"there are {c}",search)

enter name = dri
['dri', 5, 'bhak']
there are 1 dri

In [28]:
#WAP to create a list inside list with row and column
#r=?
#c=?
#[[1,2,3],
# [4,5,6],
# [6,8,9]]

In [3]:
a=[]
m= int(input("enter row = "))
n= int(input("enter column = "))
for i in range(m):
    y=[] #at first assign in y list for element in column
    for j in range(n):
        x=input("enter x = ")
        y.append(x) #assigns the data of x in y[] list
    a.append(y) #again assigns the data that was in y[] list in a[] list
print(a)

enter row = 3
enter column = 2
enter x = 5
enter x = 6
enter x = 6
enter x = 4
enter x = 5
enter x = 6
[['5', '6'], ['6', '4'], ['5', '6']]

In [4]:
#comprehension  in list is important

In [6]:
a=[i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [12]:
a=[i for i in range(1,21)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
a=[i for i in range(1,50) if i%10==0] #this kind of syntax is used in algebric mathematical problem in mathematics
a

[10, 20, 30, 40]

In [22]:
a=["CAT","FROG","cOw","dog","python","anaaconda"]
b=[i for i in a if i.islower()]
c=[i for i in a if i.isupper()]
print(b)
print(c)

['dog', 'python', 'anaaconda']
['CAT', 'FROG']

In [24]:
#WAP to create a billing system using list inside list
bill=[] #empty list
n=int(input("enter the no of items = "))
for i in range(n):
    x=input("enter the name of the item = ")
    y=int(input("enter the price = "))
    z=int(input("enter the quantity of product = "))
    total=y*z
    info=[x,y,z,total] #assigning the items into the list
    bill.append(info) #append = means it puts the content of list from back like as in stack
print(bill)

enter the no of items = 2
enter the name of the item = shakti
enter the price = 10
enter the quantity of product = 2
enter the name of the item = smile
enter the price = 1000
enter the quantity of product = 2
[['shakti', 10, 2, 20], ['smile', 1000, 2, 2000]]