In [1]:
#dict
# -indexed
# -ordered
# -multiple value
# -mutable datatype

In [2]:
#d={}
# #d=dict()
# d= {<key>:<value>,<key>:<value>,...}

In [3]:
d={'a':'apple','b':'ball','c':'cat'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [4]:
d['c']

'cat'

In [5]:
len(d)

3

In [6]:
d={'a':'apple','b':'ball','c':'cat'}
d['a']='APPLE'
d

{'a': 'APPLE', 'b': 'ball', 'c': 'cat'}

In [7]:
d['d']='dog'
d

{'a': 'APPLE', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [8]:
d={}
d['a']='apple'
d['b']='ball'
d['c']='cat'
d['d']='dog'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [2]:
d={}
n=int(input("enter the value of n = "))
for i in range(n):
    name = input("enter the name = ")
    phn = int(input("enter the phn no = "))
    d[name]=phn
print(d)

enter the value of n = 2
enter the name = smile
enter the phn no = 9852147
enter the name = shakti
enter the phn no = 85362255
{'smile': 9852147, 'shakti': 85362255}

In [3]:
for i in d:
    print(i)

smile
shakti

In [5]:
for i in d.values():
    print(i)

9852147
85362255

In [6]:
for i in d.items():
    print(i)

('smile', 9852147)
('shakti', 85362255)

In [7]:
x=[]
for i in d.items():
    x.append(i)
print(x)

[('smile', 9852147), ('shakti', 85362255)]

In [8]:
dict(x)

{'smile': 9852147, 'shakti': 85362255}

In [9]:
d={'smile': '9852147', 'shakti': '85362255'}
c={'kxahalkhabar':'101'}
d.update(c)
d

{'smile': '9852147', 'shakti': '85362255', 'kxahalkhabar': '101'}

In [10]:
d={('smile','shrestha'):'9880104631','shakti':'982541336'}
d

{('smile', 'shrestha'): '9880104631', 'shakti': '982541336'}

In [11]:
d[('smile','shrestha')]

'9880104631'

In [16]:
#del pop()
e={'smile': '9852147', 'shakti': '85362255', 'kxahalkhabar': '101'}
del e['smile'] #keyword sp big bracket in included
print(e)

{'shakti': '85362255', 'kxahalkhabar': '101'}

In [19]:
e={'smile': '9852147', 'shakti': '85362255', 'lol': '101'}
e.pop('lol');
e

{'smile': '9852147', 'shakti': '85362255'}

In [21]:
e.clear()
e

{}

In [25]:
#list inside dictoniaries0
e={'smile': [9852147,852145], 
   'shakti': [85362255,6569566], 
   'lol': [101,525]}
e

{'smile': [9852147, 852145], 'shakti': [85362255, 6569566], 'lol': [101, 525]}

In [29]:
print(e['shakti'])
print(e['shakti'][0])

[85362255, 6569566]
85362255

In [32]:
d={}
n=int(input("enter no. of names u wantt to enter = "))
for i in range(n):
    name=input("enter the name = ")
    ntc_no=int(input("enter the ntc phn no = "))
    smart_no=int(input("enter the smart cell no = "))
    d[name]=[ntc_no,smart_no]
d

enter no. of names u wantt to enter = 2
enter the name = smile
enter the ntc phn no = 98522
enter the smart cell no = 654
enter the name = shalti
enter the ntc phn no = 9852147
enter the smart cell no = 8546654

{'smile': [98522, 654], 'shalti': [9852147, 8546654]}

In [35]:
a={'smile': [98522, 654], 'shalti': [9852147, 8546654]}
a['seniorita']=[98521,64892]
a

{'smile': [98522, 654],
 'shalti': [9852147, 8546654],
 'seniorita': [98521, 64892]}

In [38]:
a={'smile': [98522, 654],
 'shalti': [9852147, 8546654],
 'seniorita': [98521, 64892]}
a['smile'][0]=9852147
a

{'smile': [9852147, 654],
 'shalti': [9852147, 8546654],
 'seniorita': [98521, 64892]}

In [39]:
a['smile'].append(863210)
a

{'smile': [9852147, 654, 863210],
 'shalti': [9852147, 8546654],
 'seniorita': [98521, 64892]}

In [42]:
#a={'name':'','age':'','address':''}
name = []
age = []
address= []
n= int(input("enter the value of n = "))
for i in range(n):
    na=input("enter name = ")
    ag=int(input("enter the age = "))
    add=input("enter the address = ")
    name.append(na)
    age.append(ag)
    address.append(add)
a={'name':name,'age':age,'address':address}
a

enter the value of n = 3
enter name = smile
enter the age = 19
enter the address = btl
enter name = sparsh
enter the age = 16
enter the address = btl
enter name = shakti
enter the age = 21
enter the address = lalitpur

{'name': ['smile', 'sparsh', 'shakti'],
 'age': [19, 16, 21],
 'address': ['btl', 'btl', 'lalitpur']}

In [2]:
#dict inside list
l=[{'name':'smile','age':5,'add':'ktm'},
  {'name':'shakti','age':21,'add':'ktm'},
  {'name':'sus','age':22,'add':'ktm'}]
l

[{'name': 'smile', 'age': 5, 'add': 'ktm'},
 {'name': 'shakti', 'age': 21, 'add': 'ktm'},
 {'name': 'sus', 'age': 22, 'add': 'ktm'}]

In [4]:
data=[]
n=int(input("enter the n = "))
for i in range(n):
    name=input("enter the name = ")
    age=int(input("enter the age = "))
    add=input("enter the addtess = ")
    info={'name':name,'age':age,'address':add}
    data.append(info)
print(data)

enter the n = 2
enter the name = smile
enter the age = 15
enter the addtess = ktm
enter the name = shakti
enter the age = 21
enter the addtess = ktm
[{'name': 'smile', 'age': 15, 'address': 'ktm'}, {'name': 'shakti', 'age': 21, 'address': 'ktm'}]

In [5]:
data=[{'name':'smile','age':15,'address':'ktm'},
     {'name':'shakti','age':21,'address':'ktm'}]
data.append({'name':'sus','age':22,'add':'ktm'})
data

[{'name': 'smile', 'age': 15, 'address': 'ktm'},
 {'name': 'shakti', 'age': 21, 'address': 'ktm'},
 {'name': 'sus', 'age': 22, 'add': 'ktm'}]

In [6]:
data[0]

{'name': 'smile', 'age': 15, 'address': 'ktm'}

In [7]:
data[1]

{'name': 'shakti', 'age': 21, 'address': 'ktm'}

In [8]:
data[2]

{'name': 'sus', 'age': 22, 'add': 'ktm'}

In [10]:
print(data[0]['name'])

smile

In [11]:
data[0]['name']='smir'

In [12]:
data

[{'name': 'smir', 'age': 15, 'address': 'ktm'},
 {'name': 'shakti', 'age': 21, 'address': 'ktm'},
 {'name': 'sus', 'age': 22, 'add': 'ktm'}]

In [13]:
#dict inside dict

In [2]:
a={1:{'name':'ram','age':16,'add':'ktm'},
  2:{'name':'smile','age':16,'add':'ktm'},
   3:{'name':'aha','age':16,'add':'ktm'}}
a

{1: {'name': 'ram', 'age': 16, 'add': 'ktm'},
 2: {'name': 'smile', 'age': 16, 'add': 'ktm'},
 3: {'name': 'aha', 'age': 16, 'add': 'ktm'}}

In [4]:
d={}
n=int(input("enter the n = "))
for i in range(1,n+1):
    name=input("enter name= ")
    age=int(input("enter age = "))
    add=input("enter the address = ")
    info={'name':name,'age':age,'address':add}
    d[i]=info
d

enter the n = 2
enter name= smile
enter age = 12
enter the address = btl
enter name= sparsh
enter age = 15
enter the address = btl

{1: {'name': 'smile', 'age': 12, 'address': 'btl'},
 2: {'name': 'sparsh', 'age': 15, 'address': 'btl'}}

In [5]:
#dictonaries inside dictionaries
a={1: {'name': 'smile', 'age': 12, 'address': 'btl'},
   2:{'name': 'sparsh', 'age': 15, 'address': 'btl'}}
a[3]={'name': 'mom', 'age': 12, 'address': 'btl'}
a

{1: {'name': 'smile', 'age': 12, 'address': 'btl'},
 2: {'name': 'sparsh', 'age': 15, 'address': 'btl'},
 3: {'name': 'mom', 'age': 12, 'address': 'btl'}}

In [6]:
a[1]['name']='slodje00'
a

{1: {'name': 'slodje00', 'age': 12, 'address': 'btl'},
 2: {'name': 'sparsh', 'age': 15, 'address': 'btl'},
 3: {'name': 'mom', 'age': 12, 'address': 'btl'}}

In [8]:
for i in a.values():
    print(i)

{'name': 'slodje00', 'age': 12, 'address': 'btl'}
{'name': 'sparsh', 'age': 15, 'address': 'btl'}
{'name': 'mom', 'age': 12, 'address': 'btl'}

In [9]:
 for i in a.values():
        phone=int(input("enter the phone number = "))
        i['phone']=phone
print(a)

enter the phone number = 98521
enter the phone number = 8524
enter the phone number = 5563
{1: {'name': 'slodje00', 'age': 12, 'address': 'btl', 'phone': 98521}, 2: {'name': 'sparsh', 'age': 15, 'address': 'btl', 'phone': 8524}, 3: {'name': 'mom', 'age': 12, 'address': 'btl', 'phone': 5563}}

In [12]:
for i in a.values():
    ntc_phone=int(input("enter the phone number = "))
    ncell_phone=int(input("enter the ncell phone number = "))
    smart_cell=int(input("entert hte smart no = "))
    i[phone]=['ntc_phone','ncell_phone','smart_cell']
print(a)

enter the phone number = 9852
enter the ncell phone number = 665
entert hte smart no = 65
enter the phone number = 6484
enter the ncell phone number = 5446
entert hte smart no = 51
enter the phone number = 62
enter the ncell phone number = 334
entert hte smart no = 65
{1: {'name': 'slodje00', 'age': 12, 'address': 'btl', 'phone': 98521, 5563: ['ntc_phone', 'ncell_phone', 'smart_cell']}, 2: {'name': 'sparsh', 'age': 15, 'address': 'btl', 'phone': 8524, 5563: ['ntc_phone', 'ncell_phone', 'smart_cell']}, 3: {'name': 'mom', 'age': 12, 'address': 'btl', 'phone': 5563, 5563: ['ntc_phone', 'ncell_phone', 'smart_cell']}}

In [13]:
#crud
a={1:{'phy':{'pr':34,'th':20}},'chem':{'pr':36,'th':30},'math':80}
a

{1: {'phy': {'pr': 34, 'th': 20}}, 'chem': {'pr': 36, 'th': 30}, 'math': 80}