In [1]:
#string

In [2]:
a='python'
b="python"
c='''python'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a="10"
type(a)

str

In [10]:
a=input("enter the value of a = ")
print(a)

enter the value of a = smile
smile

In [12]:
a=input("enter the value of a = ")
b=input("enter the value of b = ")
c=a+" "+b
print(c)

enter the value of a = smile
enter the value of b = shrestha
smile shrestha

In [13]:
a="hello world \n"
print(a*2)

hello world
hello world

In [16]:
a=input("enter the sentence = \n ")
print(a*2)

enter the sentence =
 why u act like that
why u act like thatwhy u act like that

In [20]:
#string formatting
name="smile "
age=16
add="ktm"
info=f"hello world i am {name}. i am {age} years old. i am from {add}" # for string formating
print(info)

hello world i am smile . i am 16 years old. i am from ktm

In [8]:
bill="" #global variable so should be defined inside function
n=int(input("value of n = "))
def billing():
    global bill
    product=input("enter product name = ")
    price=int(input("enter price  = "))
    quantity=int(input("enter quantity = "))
    total=price*quantity
    info=f"the product {product} has {price} price and {quantity} quantity of {total} rs\n"
    bill=bill+info
for i in range(n):
    billing()
print(bill)

value of n = 2
enter product name = apple
enter price  = 200
enter quantity = 6
enter product name = banana
enter price  = 100
enter quantity = 12
the product apple has 200 price and 6 quantity of 1200 rs
the product banana has 100 price and 12 quantity of 1200 rs

In [12]:
bill="" #global variable so should be defined inside function
grand_total=0
n=int(input("value of n = "))
def billing(product,price,quantity,total):
    global bill,grand_total
    info=f"the product {product} has {price} price and {quantity} quantity of {total} rs\n"
    bill=bill+info
    grand_total=grand_total+total
    
for i in range(n):
    product=input("enter product name = ")
    price=int(input("enter price  = "))
    quantity=int(input("enter quantity = "))
    total=price*quantity
    billing(product,price,quantity,total)
print(bill,"grand total = ",grand_total)

value of n = 3
enter product name = apple
enter price  = 200
enter quantity = 4
enter product name = banana
enter price  = 300
enter quantity = 3
enter product name = shakti
enter price  = 1
enter quantity = 10
the product apple has 200 price and 4 quantity of 800 rs
the product banana has 300 price and 3 quantity of 900 rs
the product shakti has 1 price and 10 quantity of 10 rs
 grand total =  1710

In [6]:
#slicing
a="hello smile sskssksk"
b=a[0:5] #index from 0 to 5
c=a[5:] #index from 5 to so on
print(b)
print(c)

hello
 smile sskssksk

In [38]:
a=input("enter th text = ")
b=a[0:5]
print(b)

enter th text = smile shrestha
smile

In [42]:
a="python"
a[1:100] #no problem because there is no limit in boundary for the end numbers

'ython'

In [43]:
a="smile shrestha"
print(a[0:10:2]) #index starting from 0 to 10 by increasing by 2 index

siesr

In [44]:
# for reversing
a="smile"
print(a[::-1])

elims

In [1]:
a="smile shakti shrestha bhakti rajbhandari bhakti bhakti"
search=input("enter the searching word = ")
if search in a:
    print("yes")
    print(a.count(search))

enter the searching word = bhakti
yes
3

In [2]:
a="smile shakti shrestha bhakti rajbhandari bhakti bhakti"
print(a.lower()) #both lower() and upper() are the already predefined funation in python
print(a.upper())

smile shakti shrestha bhakti rajbhandari bhakti bhakti
SMILE SHAKTI SHRESTHA BHAKTI RAJBHANDARI BHAKTI BHAKTI

In [5]:
a="smile shakti shrestha Bhakti rajbhandari Bhakti Bhakti".lower() # to chnage the whole sentences into lower case
search= input("enter the searching word = ").lower() #to change the searches word in lower case 
if search in a:
    print("yes")
    print(a.count(search))

enter the searching word = bhakti
yes
3

In [9]:
a="smile shakti shrestha Bhakti rajbhandari Bhakti Bhakti"
b= a.replace("smile","") #to replace the word with other word
print(a)
print(b)

smile shakti shrestha Bhakti rajbhandari Bhakti Bhakti
 shakti shrestha Bhakti rajbhandari Bhakti Bhakti

In [10]:
a="smile shakti shrestha Bhakti rajbhandari Bhakti Bhakti"
a.split() # when the words and character are seperated with the space then it will split them into list

['smile', 'shakti', 'shrestha', 'Bhakti', 'rajbhandari', 'Bhakti', 'Bhakti']

In [11]:
a="smile shakti shrestha Bhakti rajbhandari Bhakti Bhakti"
a.title() # to convert the first letter of each word into capital letter

'Smile Shakti Shrestha Bhakti Rajbhandari Bhakti Bhakti'

In [1]:
a="smile shrestha"
a.split()

['smile', 'shrestha']