In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=ec5251dc38139c052f8dce79261dae8dac4a27d6773d3f760451ccaba56000dd
  Stored in directory: c:\users\smile\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [2]:
import mysql.connector #importing databae
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python3pm"   #no space in database name
)
db=database.cursor()

In [5]:
db.execute("SELECT*FROM student")  #  *=for all
result = db.fetchall()

#for x in result:
 #   print(x)
result

[(1, 78, 88, 75, 87, 89, 452, 88, 'A', 'smile'),
 (2, 78, 88, 75, 87, 89, 452, 88, 'A', 'shakti')]

In [6]:
for x in result:
      print(x)

(1, 78, 88, 75, 87, 89, 452, 88, 'A', 'smile')
(2, 78, 88, 75, 87, 89, 452, 88, 'A', 'shakti')

In [7]:
db.execute("SELECT sn,name,total FROM student")  #  *=for all
result = db.fetchall()

#for x in result:
 #   print(x)
result

[(1, 'smile', 452), (2, 'shakti', 452)]

In [8]:
#inserting data
sql= f"INSERT INTO student(sn,name,physics,chemistry,math,english,nepali,total,percentage,grade) 
VALUES(7,'smile',89,67,74,52,62,356,88,'A')"
db.execute(sql)
database.commit()

In [11]:
n=int(input("enter the value of n = "))
for i in range(n):
    name=input("Enter name= ")
    physics=int(input("enter physics = "))
    chemistry=int(input("enter chemistry = "))
    math=int(input("enter math = "))
    english=int(input("enter english = "))
    nepali=int(input("enter nepali = "))
    total=sum([physics,chemistry,math,english,nepali])
    per=total/5
    if per>=80:
        grade='A'
    elif per>=60:
        grade='B'
    elif per >=45:
        grade='C'
    else:
        grade='F'
    sql= f"INSERT INTO student(name,physics,chemistry,math,english,nepali,total,percentage,grade) VALUES('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')"
    db.execute(sql)
    database.commit()

enter the value of n = 2
Enter name= aska
enter physics = 40
enter chemistry = 50
enter math = 30
enter english = 40
enter nepali = 10
Enter name= srijana
enter physics = 10
enter chemistry = 50
enter math = 70
enter english = 80
enter nepali = 90

In [9]:
#delete
sql="DELETE FROM student WHERE Sn = 11"
db.execute(sql)
database.commit()

In [13]:
#update
sql="UPDATE student SET name = 'sush' WHERE name='sus'"
db.execute(sql)
database.commit()