In [3]:
#dict inside list
#if the big bracket outside then just think that as list 
#that's why we can append in the list
l=[{'name':'ram','age':34,'add':'ktm'},
  {'name':'smile','age':16,'add':'ktm'},
  {'name':'shakti','age':21,'add':'ktm'}]
l

[{'name': 'ram', 'age': 34, 'add': 'ktm'},
 {'name': 'smile', 'age': 16, 'add': 'ktm'},
 {'name': 'shakti', 'age': 21, 'add': 'ktm'}]

In [4]:
data=[]
n=int(input("enter the number = "))
for i in range(n):
    name=input("enter name = ")
    age=int(input("enter age = "))
    address=input("enter the address = ")
    info={'name':name,'age':age,'address':address}
    data.append(info)
data

enter the number = 2
enter name = smile
enter age = 16
enter the address = ktm
enter name = shakti
enter age = 21
enter the address = lalitpur

[{'name': 'smile', 'age': 16, 'address': 'ktm'},
 {'name': 'shakti', 'age': 21, 'address': 'lalitpur'}]

In [9]:
data=[{'name':'smile','age':16,'address':'ktm'},
     {'name':'shakti','age':21,'address':'lalitpur'}]
data.append({'name':'sparsh','age':15,'address':'btl'})
data

[{'name': 'smile', 'age': 16, 'address': 'ktm'},
 {'name': 'shakti', 'age': 21, 'address': 'lalitpur'},
 {'name': 'sparsh', 'age': 15, 'address': 'btl'}]

In [10]:
print(data[0])

{'name': 'smile', 'age': 16, 'address': 'ktm'}

In [11]:
print(data[1])

{'name': 'shakti', 'age': 21, 'address': 'lalitpur'}

In [12]:
print(data[2])

{'name': 'sparsh', 'age': 15, 'address': 'btl'}

In [13]:
print(data[0]['name'])

smile

In [14]:
#this kind of data basically used in web developing
data[0]['name']='sus'        

data

[{'name': 'sus', 'age': 16, 'address': 'ktm'},
 {'name': 'shakti', 'age': 21, 'address': 'lalitpur'},
 {'name': 'sparsh', 'age': 15, 'address': 'btl'}]

In [15]:
del data[0]['name'] #del is just to delete the any index from the list
data

[{'age': 16, 'address': 'ktm'},
 {'name': 'shakti', 'age': 21, 'address': 'lalitpur'},
 {'name': 'sparsh', 'age': 15, 'address': 'btl'}]

In [18]:
#dictoniaries inside dictionaries
a={1:{'name':'smile','age':15,'address':'ktm'},
  2:{'name':'shakti','age':21,'address':'lalitpur'},
  3:{'name':'sparsh','age':15,'address':'btl'}}
a

{1: {'name': 'smile', 'age': 15, 'address': 'ktm'},
 2: {'name': 'shakti', 'age': 21, 'address': 'lalitpur'},
 3: {'name': 'sparsh', 'age': 15, 'address': 'btl'}}

In [24]:
d={}
n=int(input("enter n = "))
for i in range(1,n+1):
    name=input("enter name = ")
    age=int(input("enter age = "))
    address=input("enter address = ")
    info={'name':name,'age':age,'address':address }
    d[i]=info
print(d)

enter n = 2
enter name = smile
enter age = 15
enter address = btl
enter name = shakti
enter age = 21
enter address = lalitpur
{1: {'name': 'smile', 'age': 15, 'address': 'btl'}, 2: {'name': 'shakti', 'age': 21, 'address': 'lalitpur'}}

In [32]:
a={1: {'name': 'smile', 'age': 15, 'address': 'ktm'}, 2: {'name': 'shakti', 'age': 21, 'address': 'lalitpur'}}
a[3]={'name':'sparsh','age':15,'address':'btl'}
a

{1: {'name': 'smile', 'age': 15, 'address': 'ktm'},
 2: {'name': 'shakti', 'age': 21, 'address': 'lalitpur'},
 3: {'name': 'sparsh', 'age': 15, 'address': 'btl'}}

In [33]:
a[1]['name']='apis'
a

{1: {'name': 'apis', 'age': 15, 'address': 'ktm'},
 2: {'name': 'shakti', 'age': 21, 'address': 'lalitpur'},
 3: {'name': 'sparsh', 'age': 15, 'address': 'btl'}}

In [35]:
for i in a.values():
    phone=int(input("enter hte phone number = "))
    i['phone']=phone
print(a)

enter hte phone number = 652
enter hte phone number = 15
enter hte phone number = 54
{1: {'name': 'apis', 'age': 15, 'address': 'ktm', 'phone': 652}, 2: {'name': 'shakti', 'age': 21, 'address': 'lalitpur', 'phone': 15}, 3: {'name': 'sparsh', 'age': 15, 'address': 'btl', 'phone': 54}}