In [1]:
#file handling

In [2]:
# file = open('<file_name>','<mode>')
# file.close()

In [3]:
# with open ('<file_name>','<mode>') as file:
#   <operations>

In [4]:
# modes 
# read-> 'r'
# create-> 'x'
# write-> 'w'
# append-> 'a'

In [8]:
try:        
    file=open('data.txt','x')   #creating the file data.txt
    file.close()
except:
    print("the file is already there.")

the file is already there.

In [11]:
file=open('data.txt','r')
x=file.read()         #data.txt ko value x ma rakheko
print(x)
print(type(x))
file.close()            #just to close the file

1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world
7.Hello world
8.Hello world
9.Hello world
10.Hello world
<class 'str'>

In [16]:
y=x.split('\n')              #spliting the data in list ko form ma
y

['1.Hello world',
 '2.Hello world',
 '3.Hello world',
 '4.Hello world',
 '5.Hello world',
 '6.Hello world',
 '7.Hello world',
 '8.Hello world',
 '9.Hello world',
 '10.Hello world']

In [18]:
y[3]       #printing the third indexed ko list data

'4.Hello world'

In [19]:
file=open('data.txt','w')
file.write("Hello I'm smile ")
file.close()

In [22]:
file=open('datax.txt','a')
file.write("Hello I'm smile ")
file.close()

In [38]:
bill=""
n=int(input("enter the value of n = "))
for i in range(n):
    name=input("enter name= ")
    price=int(input("enter price = "))
    quantity=int(input("enter quantity = "))
    total=price*quantity
    bill=bill+f"{name}, {price}, {quantity}, {total} \n" #comma must be written in between to write in excel

file=open('data.csv','w')    #.csv=comma seperated value
file.write('name,price,quantity,total\n')
file.write(bill)
file.close()

enter the value of n = 2
enter name= apple
enter price = 200
enter quantity = 1
enter name= banana
enter price = 300
enter quantity = 1

In [39]:
file=open('data.csv','r')
x=file.read()
print(x)
file.close()

name,price,quantity,total
apple, 200, 1, 200
banana, 300, 1, 300

In [40]:
y=x.split('\n')[0:-1]
y

['name,price,quantity,total', 'apple, 200, 1, 200 ', 'banana, 300, 1, 300 ']

In [41]:
bills=[]
for i in y: #y ko value in i
    bills.append(i.split(','))  #now splitting i
bills

[['name', 'price', 'quantity', 'total'],
 ['apple', ' 200', ' 1', ' 200 '],
 ['banana', ' 300', ' 1', ' 300 ']]

In [44]:
tot=0
for i in range(1,len(bills)):
    z=int(bills[i][3])
    tot=tot+z
print(tot)

500

In [6]:
bill=""
n=int(input("enter the no. of data you want o enter = "))
for i in range(n):
    department_id=int(input("enter the department id = "))
    department_name=input("enter the department name = ")
    manager_id=int(input("enter the manager id = "))
    location_id=int(input("enter the location id = "))
    x=x+f"{department_id},{department_name},{manager_id},{location_id} \n"
file=open('department.csv','w')
file.write('department_id,department_name,manager_id,location_id \n ')
file.write(x)
file.close()

enter the no. of data you want o enter = 2
enter the department id = 1
enter the department name = smile
enter the manager id = 2
enter the location id = 3
enter the department id = 4
enter the department name = skdk
enter the manager id = 5
enter the location id = 6