In [1]:
#for
#while

In [2]:
#range(5) 0,1,2,3,4
#range(1,5) 1,2,3,4
#range(1,5,2) 1,3 -> increases 2 number from 1 to 5

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,5):
    print(i)

1
2
3
4

In [5]:
for i in range (1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(1,2,3):
    print(i)

1

In [8]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [9]:
for i in range(5):
    print("hi bhakti")

hi bhakti
hi bhakti
hi bhakti
hi bhakti
hi bhakti

In [10]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [13]:
n=input("enter the value of n = ")
for i in range(1,11):
    print(n," * ",i," = ",n*i)

enter the value of n = 2
2  *  1  =  2
2  *  2  =  22
2  *  3  =  222
2  *  4  =  2222
2  *  5  =  22222
2  *  6  =  222222
2  *  7  =  2222222
2  *  8  =  22222222
2  *  9  =  222222222
2  *  10  =  2222222222

In [15]:
n=int(input("enter the value of n = "))
for i in range(1,11):
    print(n," * ",i," = ",n*i)

enter the value of n = 5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [16]:
for i in range(2):
    x=input("enter x= ")
    print(x)

enter x= 5
5
enter x= 6
6

In [20]:
s=0
n=int(input("enter n = "))
for i in range (n):
    x=int(input("enter x= "))
    s= s+x
print(s)

enter n = 10
enter x= 1
enter x= 2
enter x= 3
enter x= 4
enter x= 5
enter x= 6
enter x= 7
enter x= 8
enter x= 9
enter x= 10
55

In [24]:
s=str()
n= int(input("enter n= "))
for i in range(n):
    x=str(input("enter x= "))
    s=s+x+" "
print(s)

enter n= 4
enter x= shakti
enter x= bhakti
enter x= ra
enter x= j
shakti bhakti ra j

In [32]:
s=str()
n= int(input("enter n = ")) #always gotta write int befroe input for integer number
for i in range(n):
    name=input("enter name = ")
    phone=int(input("enter phn no = "))
    s=s+name+" "+str(phone)+"\n" #saving in the variable so we can add space directly
print(s)

enter n = 1
enter name = smile
enter phn no = 9854231788
smile 9854231788

In [41]:
fac=1
n=int(input("enter n = "))
for i in range(1,n+1):
    fac=fac*i
    print(i,"*",fac,"=",fac)

enter n = 4
1 * 1 = 1
2 * 2 = 2
3 * 6 = 6
4 * 24 = 24

In [43]:
#for printing each and every characters
a="smile"
for i in a: #no need to write range cause characters already got index with them
    print(i)

s
m
i
l
e

In [46]:
a="smile"
for i in a: 
    print(i,"hi")

s hi
m hi
i hi
l hi
e hi

In [48]:
a="smile"
for i in range(4): 
    print(a[i],end=" ") #for horizontal displaying

s m i l

In [49]:
a="smile"
for i in range(4): 
    print(a[i]) #for vertical displaying

s
m
i
l

In [51]:
a="shakti"
l=len(a)
for i in range(l):
    print(a[i],end=" ")

s h a k t i

In [62]:
name= input("enter name = ")
l=len(name)
for i in range(l):
    print(name[i],end=" ")

enter name = smile
s m i l e